.menu {
    width: 38rem;
    height: 100vh;
    border-left: 1px solid $color-ash-gray;
    background: url("../resources/images/bg-dots.png");
    background-size: cover;
    position: fixed;
    top: 0;
    right: -40rem;
    z-index: 6;
    @include flexCenter;
    flex-direction: column;
    transition: right 0.3s ease-in-out;

    &.show {
        right: 0;
    }

    @include respond(768) {
        width: 100vw;
        border: none;
    }

    ul {
        li {
            margin: 3rem 0;
            font-size: 3rem;
            font-family: "ProximaNova-Extrabold", sans-serif;
            color: $color-blue;
            text-align: right;
            text-transform: uppercase;
            position: relative;
            left: 0;
            cursor: pointer;
            @include transition-ease;

            &:hover {
                left: -2rem;
            }
        }
    }
}